@model dynamic

@using Orchard.Gallery.HtmlHelpers;
@{
    Script.Include("jquery.validate.min.js");
    Script.Include("jquery.validate.unobtrusive.min.js");
}

<section>
    <header>
        <span class="floatRight"><img src="@Href("../../../Content/Images/required.png")"/></span>
        <h2>@Html.TitleForPage(T("Change Password").ToString())</h2>
    </header>
    @{
        HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
        Html.EnableClientValidation();
    }
    @*<p>@T("Use the form below to change your password.")</p>*@
    @*<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"] as string) </p>*@
    @Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())

    @using (Html.BeginFormAntiForgeryPost(Html.ViewContext.HttpContext.Request.Url.PathAndQuery, FormMethod.Post, new { id = "form" })) {
        <div class="@Html.InvalidClass("newPassword")">
            <label for="newPassword">@T("New password:")</label>
            <aside>
                <p>@Html.ValidationMessage("newPassword") Enter your new password.</p>
            </aside>
            @Html.Password("newPassword", "", new Dictionary<string, object>{
                {"class", "required"}, {"data-val-required", T("Required field cannot be left blank.")}, {"data-val", "true"}
            })
        </div>
        <div class="@Html.InvalidClass("confirmPassword")">
            <label for="confirmPassword">@T("Confirm new password:")</label>
            <aside>
                <p>@Html.ValidationMessage("confirmPassword") Re-enter your new password.</p>
            </aside>
            @Html.Password("confirmPassword", "", new Dictionary<string, object>{
                {"class", "required"}, {"data-val-required", T("Required field cannot be left blank.")}, {"data-val", "true"}
            })
        </div>
        <div>
            <button class="primaryAction" type="submit">@T("Change Password")</button>
        </div>
    }
</section>

@using (Script.Foot())
{
    Script.Include("gallery.form.js");
}